@model RegisterViewModel

<main class="form-signin text-center row mt-xxl-5 p-5" style="background-color: aliceblue">

    <form class="col-2 offset-5 has-validation" method="post">
        <img class="mb-4 rounded-circle" src="~/images/storyTelling.jpg" alt="" width="250">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
        <div class="form-floating my-2">
            <input asp-for="Email" type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">Email address</label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-floating my-2">
            <input asp-for="UserName" type="text" class="form-control" id="floatingUserName" placeholder="John">
            <label for="floatingUserName">User name</label>
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating my-2">
            <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-floating my-2">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingRePassword" placeholder="Confirm password">
            <label for="floatingRePassword">Confirm password</label>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input asp-for="AcceptedAgreement" type="checkbox" value="@true"> I agree all statements in <a asp-action="Terms" asp-controller="Home">Terms of service</a>
            </label>
            <span asp-validation-for="@Model.AcceptedAgreement" class="text-danger"></span>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <label>
            <p class="mt-5"> Have already an account? <a asp-action="Login" asp-controller="User">Login here</a></p>
        </label>
    </form>
</main>