@using Tellers.ViewModels.Revues;
@model IEnumerable<ReadRevueViewModel>

<section style="background-color: #e7effd;">
    <div class="container my-5 py-5 text-dark">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-7">
                @if(Model.Count() == 0 || Model == null)
                {
                    <p>No revues yet.</p>
                }
                else
                {
                    @foreach (var revue in Model)
                    {
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3"
                         src="@(string.IsNullOrWhiteSpace(revue.CreatorPictureUrl) == false ? revue.CreatorPictureUrl : "/images/profilePicDefault.png")" alt="avatar" width="65"
                         height="65" />
                            <div class="card w-100">
                                <div class="card-body p-4">
                                    <div class="">
                                        <h5>
                                            <a asp-action="" asp-controller="">
                                                @if (User.IsInRole(RoleNames.MasterAdminRoleName) ||
                                               User.IsInRole(RoleNames.AdminRoleName) ||
                                               User.IsInRole(RoleNames.ModeratorRoleName))
                                                {
                                                    @("Tellers team")
                                                }
                                                else
                                                {
                                                    @((revue.CreatorFirstName == null ? string.Empty :
                                                        revue.CreatorFirstName +
                                                        (revue.CreatorMiddleName == null ? string.Empty : $" {revue.CreatorMiddleName}") +
                                                        (revue.CreatorLastName == null ? string.Empty : $" {revue.CreatorLastName}") +
                                                        (revue.CreatorPseudonym == null ? string.Empty : $" - {revue.CreatorPseudonym}")) == string.Empty
                                                        ?
                                                        (revue.CreatorUsername == string.Empty ? "Unknown post creator." : revue.CreatorUsername)
                                                        :
                                                        (revue.CreatorFirstName == null ? string.Empty :
                                                        revue.CreatorFirstName +
                                                        (revue.CreatorMiddleName == null ? string.Empty : $" {revue.CreatorMiddleName}") +
                                                        (revue.CreatorLastName == null ? string.Empty : $" {revue.CreatorLastName}") +
                                                        (revue.CreatorPseudonym == null ? string.Empty : $" - {revue.CreatorPseudonym}")))
                                                }
                                            </a>

                                        </h5>
                                        <span class="fa fa-star oneStar"></span>
                                        <span class="fa fa-star twoStar"></span>
                                        <span class="fa fa-star threeStar"></span>
                                        <span class="fa fa-star fourStar"></span>
                                        <span class="fa fa-star fiveStar"></span>
                                        <label id="ratingStar" hidden>@revue.Rating</label>
                                        <p class="small">3 hours ago</p>
                                        <p>
                                            @revue.Text
                                        </p>

                                        <div class="d-flex justify-content-between align-items-center">
                                            @if (User.IsInRole(RoleNames.MasterAdminRoleName) ||
                                           User.IsInRole(RoleNames.AdminRoleName) ||
                                           User.IsInRole(RoleNames.ModeratorRoleName))
                                            {
                                                <form method="post" style="margin-top: 3rem">
                                                    <button class="link-muted" asp-area="" asp-action="" asp-controller="" asp-route-storyId="@revue.StoryId">
                                                        <i class="fas fa-reply me-1"></i> Delete
                                                    </button>
                                                </form>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="margin-top: 5em; padding-left: 4em">
                <a type="button" class="btn btn-outline-success btn-lg px-4 gap-3" asp-controller="Revue" asp-action="Create">Аdd a Revue</a>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        //let starts = document.querySelectorAll(".fa.fa-star");

        let rating = Number(document.getElementById("ratingStar").textContent);

        if (rating >= 1) {
            document.querySelector(".fa.fa-star.oneStar").classList.add("checked");
        }
        if (rating >= 2) {
            document.querySelector(".fa.fa-star.twoStar").classList.add("checked");
        }
        if (rating >= 3) {
            document.querySelector(".fa.fa-star.threeStar").classList.add("checked");
        }
        if (rating >= 4) {
            document.querySelector(".fa.fa-star.fourStar").classList.add("checked");
        }
        if (rating >= 5) {
            document.querySelector(".fa.fa-star.fiveStar").classList.add("checked");
        }
    </script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}
